<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No Events!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
    </thead>
    <tr>
        <th:block th:each="key : ${events.keySet()}">
            <td th:text="${events.get(key)}"></td>
        </th:block>
    </tr>
</table>
</body>
</html>